@import '../../../styles/variables.less';

.feature {
  margin-bottom: @spacing-md;

  h3 {
    margin: 0;
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
      padding-left: @spacing-sm;
    }
  }

  p {
    margin: 0;
  }
}