@import './styles/variables.less';
@import './styles/button.less';
@import './styles/input-field.less';
@import './styles/card.less';
@import './styles/loading-skeleton.less';
@import './styles/marquee-component.less';

main {
    display: flex;
    justify-content: center;
}


.main-container {
    width: 80%;
    padding-top: 20px;

    @media (min-width: @mobile-breakpoint) {
        max-width: 40vw;
    }

    @media (min-width: @desktop-breakpoint) {
        max-width: 30vw;
    }

}

.error-page {
    text-align: center;
    align-content: center;

    img {
        width: 100%;
        max-width: 500px;
    }
}