@import './styles/variables.less';
@import './styles/button.less';
@import './styles/input-field.less';
@import './styles/card.less';
@import './styles/loading-skeleton.less';
@import './styles/marquee-component.less';

main {
    display: flex;
    justify-content: center;
}


.main-container {
    width: 80%;
    padding-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: @small-mobile-breakpoint) {
        width: 95%;
    }

    @media (min-width: @mobile-breakpoint) {
        max-width: 80vw;
    }

    @media (min-width: @tablet-breakpoint) {
        max-width: 60vw;
    }

    @media (min-width: @desktop-breakpoint) {
        max-width: 50vw;
    }

    @media (min-width: @desktop-large-breakpoint) {
        max-width: 40vw;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: @spacing-lg;
    }

}

.error-page {
    text-align: center;
    align-content: center;

    img {
        width: 100%;
        max-width: 500px;
    }
}

.home-page__random-synonym {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: @spacing-lg;
}