@import './styles/variables.less';
@import './styles/button.less';
@import './styles/input-field.less';
@import './styles/card.less';


main {
    display: flex;
    justify-content: center;
}


.main-container {
    width: 80%;
    padding-top: 20px;

    @media (min-width: @tablet-breakpoint) {
        max-width: 40vw;
    }

}