@import './variables.less';
@import './animations.less';

.marquee-component {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
}

.marquee-component__inner {
  display: inline-block;
  width: max-content;
  min-width: 100%;
  text-align: start;

  .animate {
    padding-left: 100%;
    text-align: center;
  }
}

.marquee-component__inner.animate {
  animation: scrollLeft 10s linear infinite;
}